# Data Initialization

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.cluster import KMeans

# load dataset

data = pd.read_csv('ECommerce_Cleansed_Clustering.csv', index_col = 'CustomerID')

In [2]:
data.head()

,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount,Tenure_zscore
CustomerID,,,,,,,,,,,,,,,,,,,,
50001,1,0.065574,Mobile Phone,3,0.008197,Debit Card,Female,0.600000,3,Laptop & Accessory,2,Single,9,1,0.000000,1.0,1.0,0.108696,0.492107,-0.74081
50002,1,0.161651,Phone,1,0.024590,UPI,Male,0.600000,4,Mobile,3,Single,7,1,0.266667,0.0,1.0,0.000000,0.372011,-0.03925
50003,1,0.161651,Phone,1,0.204918,Debit Card,Male,0.400000,4,Mobile,3,Single,6,1,0.200000,0.0,1.0,0.065217,0.370104,-0.03925
50004,1,0.000000,Phone,3,0.081967,Debit Card,Male,0.400000,4,Laptop & Accessory,5,Single,8,0,0.800000,0.0,1.0,0.065217,0.412536,-1.21963
50005,1,0.000000,Phone,1,0.057377,CC,Male,0.538725,3,Mobile,5,Single,3,0,0.000000,1.0,1.0,0.065217,0.398782,-1.21963

# Data Preparation

In [3]:
# define X features

features = ['CityTier','NumberOfDeviceRegistered','SatisfactionScore','NumberOfAddress','Complain','CouponUsed',
            'OrderCount','Tenure','HourSpendOnApp','WarehouseToHome','DaySinceLastOrder',
            'OrderAmountHikeFromlastYear','CashbackAmount']
X = data[features]

In [4]:
# pre-processing of X

X

,CityTier,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,CouponUsed,OrderCount,Tenure,HourSpendOnApp,WarehouseToHome,DaySinceLastOrder,OrderAmountHikeFromlastYear,CashbackAmount
CustomerID,,,,,,,,,,,,,
50001,3,3,2,9,1,1.0,1.0,0.065574,0.600000,0.008197,0.108696,0.000000,0.492107
50002,1,4,3,7,1,0.0,1.0,0.161651,0.600000,0.024590,0.000000,0.266667,0.372011
50003,1,4,3,6,1,0.0,1.0,0.161651,0.400000,0.204918,0.065217,0.200000,0.370104
50004,3,4,5,8,0,0.0,1.0,0.000000,0.400000,0.081967,0.065217,0.800000,0.412536
50005,1,3,5,3,0,1.0,1.0,0.000000,0.538725,0.057377,0.065217,0.000000,0.398782
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55626,1,2,1,6,0,1.0,2.0,0.163934,0.600000,0.204918,0.086957,0.466667,0.463737
55627,1,5,5,6,0,1.0,2.0,0.213115,0.600000,0.065574,0.106250,0.333333,0.692052
55628,1,2,4,3,1,1.0,2.0,0.016393,0.600000,0.049180,0.086957,0.666667,0.573618
55629,3,5,4,4,0,2.0,2.0,0.377049,0.800000,0.032787,0.195652,0.266667,0.550478
55630,1,2,3,4,0,2.0,2.0,0.131148,0.600000,0.081967,0.065217,0.133333,0.520139

# K-Means Clustering

In [5]:
# set number of cluster to be 3

kmeansmodel = KMeans(n_clusters=3,n_init=10,max_iter=100)

In [6]:
# fit data

kmeansmodel.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=100,
    n_clusters=3, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [7]:
# centroids

centroids = kmeansmodel.cluster_centers_
centroids

array([[1.65555556, 3.64045584, 3.0011396 , 2.92307692, 0.2957265 ,
        1.16125356, 1.94017094, 0.14768245, 0.57440727, 0.08868506,
        0.08843171, 0.31382063, 0.51961095],
       [1.6006192 , 3.77941176, 3.21130031, 7.97910217, 0.26547988,
        1.375387  , 2.13854489, 0.19545299, 0.60511494, 0.08423134,
        0.08168974, 0.31626773, 0.5601054 ],
       [1.73550725, 3.75362319, 3.11956522, 3.8115942 , 0.26932367,
        5.12198068, 9.07004831, 0.20467312, 0.59665003, 0.08554683,
        0.16925215, 0.31013286, 0.63122228]])

In [8]:
# number of interation

interation = kmeansmodel.n_iter_
interation

6

In [9]:
# sum of squared distances of samples to their closest cluster center

SSD = kmeansmodel.inertia_
SSD

59583.15913518452

In [10]:
# predict cluster number

cluster = kmeansmodel.predict(X)
cluster

array([1, 1, 1, ..., 0, 0, 0])

In [11]:
X['Cluster'] = cluster

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
X.groupby(['Cluster']).mean()

,CityTier,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,CouponUsed,OrderCount,Tenure,HourSpendOnApp,WarehouseToHome,DaySinceLastOrder,OrderAmountHikeFromlastYear,CashbackAmount
Cluster,,,,,,,,,,,,,
0,1.655556,3.640456,3.001140,2.923077,0.295726,1.161254,1.940171,0.147682,0.574407,0.088685,0.088432,0.313821,0.519611
1,1.600619,3.779412,3.211300,7.979102,0.265480,1.375387,2.138545,0.195453,0.605115,0.084231,0.081690,0.316268,0.560105
2,1.735507,3.753623,3.119565,3.811594,0.269324,5.121981,9.070048,0.204673,0.596650,0.085547,0.169252,0.310133,0.631222

In [20]:
X_new = X[['Cluster','NumberOfAddress','CouponUsed','OrderCount','DaySinceLastOrder']]
X_new.groupby(['Cluster']).mean()

         NumberOfAddress  CouponUsed  OrderCount  DaySinceLastOrder
Cluster
0               2.923077    1.161254    1.940171           0.088432
1               7.979102    1.375387    2.138545           0.081690
2               3.811594    5.121981    9.070048           0.169252

# Interpretation

Total of 3 Clusters
<br>
Cluster 0: Customers with LOW number of addresses, LOW coupons used and order count, MORE recent orders.
<br>
Cluster 1: Customers with MEDIUM number of addresses, HIGH coupons used and order count, LESS recent order.
<br>
Cluster 2: Customers with HIGH number of addresses, LOW coupons used and order count, MORE recent orders.